body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    max-width: 100px;
}

input {
    width: 300px;
    padding: 5px;
    margin: 5px 0 15px 0;
    box-sizing: border-box;
}

button {
    background-color: cadetblue;
    color: aliceblue;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color:powderblue ;
}